version: '3.8'

services:
  bank-parser-api:
    build: .
    container_name: bank_parser_container
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
    restart: always